<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/PageCss/body.css">
    <title>Feed | Wandrlust</title>
    <link>
</head>

<body>
    <%- include('partials/navbar.ejs', { name: name, isLoggedIn: isLoggedIn, email: email}); %>
        <!--Section: Newsfeed-->
        <div style="justify-content: space-around;">
            <div
                style="margin-top: 5rem; display: flex; flex-direction: column; gap: 1rem; position: fixed; margin-left: 5rem;">
                <div class="card"
                    style="width: 20rem; height: 6rem; border-radius: 1rem; padding: 1rem; display: flex; flex-direction: row; justify-content: space-evenly;">
                    <div style="margin-top: 3%;">
                        <i class="fas fa-user-circle text-decoration-none text-black fa-3x"></i>
                    </div>
                    <div>
                        <div style="font-size: 1.5rem; font-weight: bold;">
                            <%= username %>
                        </div>
                        <div style="color: gray">
                            <%= email %>
                        </div>
                    </div>
                </div>
                <a style="text-decoration: none;" href="/post">
                    <button
                        style="font-size: 1.5rem;color: white; font-weight: bold; background-color: #f94566; width: 20rem; height: 3rem; border-radius: 1rem; border: none;">
                        Create Post
                    </button>
                </a>
            </div>
            <section style="display: flex; flex-direction: column; gap: 2rem; padding: 8rem; align-items: center;">
                <% images.forEach(function (image){ %>
                    <div class="card" style="max-width: 40rem; border-radius: 1rem;">
                        <div class="card-body">
                            <!-- Data -->
                            <div class="d-flex mb-3">
                                <a href="" style="text-decoration: none;">
                                    <img src="/images/profile.png" class="border rounded-circle me-2" alt="Avatar"
                                        style="height: 40px" />
                                </a>
                                <div>
                                    <a href="" class="text-dark mb-0" style="text-decoration: none;">
                                        <strong>
                                            <%= image.author.name %>
                                        </strong>
                                    </a>
                                    <a href="" class="text-muted d-block"
                                        style="margin-top: -6px; text-decoration: none;">
                                        <small>
                                            <%= image.createdAt.toUTCString() %>
                                        </small>
                                    </a>
                                </div>
                            </div>
                            <!-- Description -->
                            <div>
                                <%= image.description %>
                            </div>
                        </div>

                        <!-- Media -->
                        <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light"
                            style="margin: 1rem;">
                            <img src="data:image/<%=image.image.contentType%>;base64,
                        <%=image.image.data.toString('base64')%>" class="w-100" style="border-radius: 1rem;">
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                            </a>
                        </div>
                        <!-- Media -->
                        <!-- Interactions -->
                        <div class="card-body">
                            <!-- Reactions -->
                            <div class="d-flex justify-content-between mb-3">
                                <div>
                                    <%= image.caption %>
                                </div>
                                <div>
                                    <% if(image.likes.includes(_id)){ %>
                                        <a href="" style="text-decoration: none;"
                                            onclick="decreaseLikes('<%=image._id%>')">
                                            <i class="fas fa-heart text-danger"></i>
                                            <span>
                                                <%= image.likes.length %>
                                            </span>
                                        </a>

                                        <%} else{ %>
                                            <a href="" style="text-decoration: none;"
                                                onclick="increaseLikes('<%=image._id%>')">
                                                <i class="fas fa-heart text-danger"></i>
                                                <span>
                                                    <%= image.likes.length %>
                                                </span>
                                            </a>
                                            <% } %>

                                </div>
                            </div>
                            <!-- Reactions -->

                        </div>
                        <!-- Interactions -->
                    </div>
                    <% }); %>
            </section>
            <div>
                <div class="card"
                    style="width: 25rem; height: 25rem; border-radius: 1rem; padding: 1rem; position: fixed; right: 0; top: 0; margin-top: 5rem; margin-right: 5rem;">
                    <div style="font-size: 1rem; font-weight: bold;">
                        Suggested people
                    </div>
                    <div class="input-group rounded" style="padding-top: 1rem; padding-bottom: 1rem">
                        <input type="search" class="form-control rounded" placeholder="Search User" aria-label="Search"
                            aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <div style="display: flex; flex-direction: column; font-size: 1rem; gap: 1rem;">
                        <div style="display: flex; flex-direction: row; gap: 1rem;">
                            <div>
                                <i class="fas fa-user-circle text-decoration-none text-black fa-3x"></i>
                            </div>
                            <div style="display: flex; flex-direction: column;">
                                <div style="font-weight: bold">
                                    <%= username %>
                                </div>
                                <div>
                                    <%= email %>
                                </div>
                            </div>
                            <div style="padding-left: 5rem">
                                <button
                                    style="background-color: #f94566; color: white; border-radius: .5rem; border: none; right: 0">
                                    Follow
                                </button>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; gap: 1rem;">
                            <div>
                                <i class="fas fa-user-circle text-decoration-none text-black fa-3x"></i>
                            </div>
                            <div style="display: flex; flex-direction: column;">
                                <div style="font-weight: bold">
                                    <%= username %>
                                </div>
                                <div>
                                    <%= email %>
                                </div>
                            </div>
                            <div style="padding-left: 5rem">
                                <button
                                    style="background-color: #f94566; color: white; border-radius: .5rem; border: none; right: 0">
                                    Follow
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Section: Newsfeed-->
        <%- include('partials/footer') %>
            <script>
                const increaseLikes = async (imageId) => {
                    await fetch("/like", {
                        method: "put",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            imageId
                        })
                    })
                }

                const decreaseLikes = async (imageId) => {
                    await fetch("/dislike", {
                        method: "put",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            imageId
                        })
                    })
                }
            </script>
</body>

</html>